{% extends "AppBundle::base-admin.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/system/css/admin.css') }}" />
{% endblock %}

{% block title 'Администрирование' %}

{% block body %}
    
    <div id="templatemo_header">
        <div id="site_title">
            <h1>
                <a href="/admin" title="Администрирование">Администрирование</a>
            </h1>
        </div>
        
        {{ render(controller('AppBundle:IndexAdmin:Menu', { 'routeName' : app.request.attributes.get('_route') } )) }}
        
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div id="templatemo_main">
        <div id="content"> 
            <div id="home" class="section">
                
                {% block content %}{% endblock %}
                
            </div> <!-- END of home -->
        </div>
    </div>

    <div id="templatemo_footer">
        Copyright © 2072 <a href="#">Your Company Name</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
    </div>

{% endblock %}
