{% extends "AppBundle::empty.html.twig" %}

{% block title "Login" %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/app/css/login.css') }}">   
{% endblock %}

{% block content %}
    
    <div class="container">
        
        <center>
            <div class="panel panel-default" style="width:30%">
                <div class="panel-body">
                    <div class="input-group">
                        <h4>"TipTop" Admin Area</h4>
                    </div>
                    
                    {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    <form class="form-admin-login" action="{{ path('_security_check') }}" method="post">
                        <div class="input-group margin-top">
                            <span class="input-group-addon" id="basic-addon1">Username</span>
                            <input id="username" name="_username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value="{{ last_username }}"/>
                        </div>
                        
                        <div class="input-group margin-top">
                            <span class="input-group-addon" id="basic-addon1">Password</span>
                            <input id="password" name="_password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1"/>
                        </div>
                        <button class="btn btn-default margin-top" type="submit">
                            Войти
                        </button>
                    </form>
                </div>
            </div>
        </center>
    </div>
    
{% endblock %}
