<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Chat</div>
  <div class="panel-body content">
    {% for message in chat %}
        <p>{{ message.text }}</p>
    {% endfor %}
  </div>
  <div class="panel-body input">
      <p><input id="chat-input-text" type="text" value="" /></p>
  </div>
</div>

<script type="text/javascript" src="{{ asset('bundles/chat/js/autobahn.min.js') }}"></script>

<script type="text/javascript">
$( document ).ready(function() {
    
    var conn = new ab.Session('ws://localhost:8181',
        function() {
            conn.subscribe('test', function(topic, data) {
                $(".panel-body.content").append("<p>" + data.text + "</p>");
            });
        },
        function() {
            console.warn('WebSocket connection closed');
        },
        {'skipSubprotocolCheck': true}
    );
    
    $("#chat-input-text").keydown(function(event){
        var self = $(this);
        if ( event.which == 13 ) {
            $.ajax({
                method: "POST",
                url: "/app_dev.php/chat/post",
                data: { 
                    text: $("#chat-input-text").val()
                },
                dataType: 'json',
                success: function(response){
                    if (response.message == "success") {
                        self.val("");
                    }
                }
            })
            event.preventDefault();
        }
    });
    
});

</script>