{% extends "AppBundle::layout-admin.html.twig" %}

{% block content %}
    <h2>Версия системы: 1.0</h2>
    <h3>Редактирование/Удаление/Создание страниц</h3>
    <p>Вы можете изменить содержимое любой существующей страницы сайта, за исключением автоматически-генерируемых страниц некоторыми модулями.</p>
    <p>Так же Вы можете удалить любую страницу на сайте.</p>
{% endblock %}
