<div class="btn-group" role="group" aria-label="...">
    {% for item in items %}
        <a href="{{ path(item.path) }}" class="list-group-item{% if routeName == item.path %} active{% endif %}">{{ item.name }}</a>
    {% endfor %}
</div>