/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2016, 11:51:30 PM
    Author     : anton
*/
.alert {
    margin-bottom: 0px;
}
.row.row-offcanvas .row-admin-left {
    float:left;
    width:90%;
    display:inline-block;
}
.row.row-offcanvas .row-admin-right {
    list-style-type: none;
    float:right;
    width:10%;
    display:inline-block;
}
.media-list {
    margin-top: 30px;
}
.media-list .media-body {
    overflow: hidden;
    position: relative;
}
.media-list .media-body .media-group-buttons {
    display: block;
    float: right;
    margin-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.clear {
    clear: both;
    border: medium none !important;
    clear: both !important;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
    width: 0;
}
.navbar-collapse.auth-tab .nav-tabs {
    border-bottom: 0px;
}