<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        {% for item in pages %}
            <li {% if routeName == item.slug %}class="active"{% endif %}>
                <a href="{{ path('app_page', {'slug': item.slug}) }}" alt="{{ item.nameInMenu }}">
                    {{ item.nameInMenu }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>