<div id="home_gallery" class="box no_mr">
    {% for image in images %}
        <a href="{{ image.getWebPath }}" class="fancybox{% if loop.index%3 == 0 %} no_mr{% endif %}">
            <img src="{{ image.getWebPath | imagine_filter('my_thumb', {"thumbnail": {"size": [152, 152] }}) }}"
                    rel="lightbox[gallery]"/>
        </a>
    {% endfor %}
</div>